@model IEnumerable<User>



<ul class="list-group">
    @foreach (var user in Model)
    {

        <div class="list-group-item">
            <a class="list-item" asp-controller="Home" asp-action="CreatePrivateRoom" asp-route-userId="@user.Id">
                @user.UserName
            </a>
        </div>
    }
</ul>

